* {
  box-sizing: border-box; /* Apply box-sizing globally */
}

body {
  font-family: 'Lora', Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 0px;
}

h1, h2, h3, .nav-link {
  font-family: 'Playfair Display', serif;
}

.main-title {
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-weight: 400;
}

.main-div {
  max-width: 80%; 
  width: clamp(300px, 90%, 1200px);
  margin: 0 auto; 
}

.colored-line {
  border-top: 2px solid var(--accent-color);
  width: 50%;
  margin: 8px auto 0 auto;
}

.colored-line.left-aligned-line {
  margin-left: 0px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.colored-line.full-width-lign {
  width: 100%;
  margin: 0;
}

.text-columns {
  column-count: 2;
  column-gap: 40px;
  text-align: justify;
}

.form-div input::placeholder,
.form-div textarea::placeholder {
  font-family: 'Lora', Helvetica, Arial, sans-serif;
  font-size: inherit;
  color: inherit;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #555;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: var(--accent-color-dark);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-text {
  font-size: 20px;
  color: #333;
}

@media (max-width: 768px) {
  .text-columns {
    column-count: 1;
  }

  .main-div {
    max-width: 90%; 
    width: clamp(300px, 90%, 1200px);
    margin: 0 auto; 
  }
}