* {
  box-sizing: border-box; /* Apply box-sizing globally */
}

body {
  font-family: 'Lora', Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 0px;
}

h1, h2, h3, .nav-link {
  font-family: 'Playfair Display', serif;
}

.main-title {
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-weight: 400;
}

.main-div {
  max-width: 90%; 
  width: clamp(300px, 90%, 1200px);
  margin: 0 auto; 
}

.golden-line {
  border-top: 2px solid var(--accent-color);
  width: 50%;
  margin: 8px auto 0 auto;
}

.golden-line.left-aligned-line {
  margin-left: 0px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.text-columns {
  column-count: 2;
  column-gap: 40px;
  text-align: justify;
}

.form-div input::placeholder,
.form-div textarea::placeholder {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

@media (max-width: 768px) {
  .text-columns {
    column-count: 1;
  }
}