   .info-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
  }
  
  .contact-info {
    width: 48%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .info-element {
    margin-bottom: 20px;
  }

  .contact-info h2 {
    font-size: 22px;
    margin-bottom: 15px;
    margin-bottom: 0px;
  }

  .contact-info a {
    color: #333; 
    text-decoration: none;
    transition: color 0.3s ease;
    margin-top: 20px;
  }
  
  
  
  .map-container {
    height: 400px;
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .info-container {
      flex-direction: column;
      align-items: center;
    }
    .contact-info {
      width: 100%;
      padding: 0 10px;
    }
    .contact-info h2 {
      text-align: center;
      font-size: 20px;
      margin: 18px 0 10px;
    }

    .info-element {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .contact-info a {
      margin-top: 20px;
    }
  } 

.contact-info a:hover {
  color: var(--accent-color);
}
  