.summary-details {
	flex: 1;
	padding: 20px;
	background: white;
	border-radius: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.summary-details h2 {
	font-size: 22px;
	color: #333;
	margin-bottom: 10px;
}

.summary-details p {
	font-size: 16px;
	margin-bottom: 8px;
	color: #555;
}

  .summary-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px; 
  }

  @media (max-width: 768px) {
    .summary-container {
      flex-direction: column-reverse;
      align-items: center;
      gap: 20px;
    }

    .summary-details {
        padding: 0 10px;
    }
  
    .button-group {
      flex-direction: column;
    }
  
    .submit-button {
      width: 100%;
    }
  }